/*team*/
.team {
    @extend %section;
    background-color: $background-color-portfolio;
}
.team-box {
    @extend %container;
}
.team-list {
    @extend %list;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
        display: inline-flex;
        flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px) {
        display: inline-flex;
    }
}
.team-box__title {
    @media screen and (max-width: 1199px) {
        font-weight: 700;
        font-size: 28px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-align: center;
        color: $primary-text-color;
  
        margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-align: center;
        color: $primary-text-color;
    }
    
}
.team-member__subtitle {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
/* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-text-color;
}
.team-member__position {   
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
/* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: $page-text-color;

    margin-bottom: 16px;
}
/*.team-member__box {
    padding-top: 30px;
    padding-bottom: 30px;
}*/
.team-list>.team-list__item {
    @extend %list;
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: $background-color;

    @media screen and (max-width: 767px) {
        &:not(:last-child) {
        margin-bottom: 30px;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 100%;
        width: calc((100% - 30px) / 2);
        &:nth-child(2n){
            margin-left: 30px;
        }
        &:nth-child(-n+2){
            margin-bottom: 30px;
        }
    }
    @media screen and (min-width: 1200px) {
        width: 270px;
        width: calc((100% - 90px) / 4);
        margin-bottom: 0;
    
        &:not(:first-child) {
            margin-left: 30px;
        }
    }
}

.team-list__picture {
    width: 100%;
    height: auto;
}

.team-member__box {
    margin: 24px 0 30px 0;
}
.social-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background-color;
}
.social-menu__link {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 10px;

    transition-property: background-color;
    transition-duration: $transdur;
    transition-timing-function: $transtfunction;
}
.social-menu__link:hover,
.social-menu__link:focus {
    background-color: $accent-text-color;
}
.social-menu__icon {
    width: 20px;
    height: 20px;
    fill: $color-icons-items;

    transition-property: fill;
    transition-duration: $transdur;
    transition-timing-function: $transtfunction;
}
.instagram,
.twitter,
.facebook,
.linkedin {
    display: flex;
    align-items: center;
    justify-content: center;
}
.instagram:hover .social-menu__icon,
.instagram:focus .social-menu__icon {
    fill: $background-color;
}
.twitter:hover .social-menu__icon,
.twitter:focus .social-menu__icon {
    fill: $background-color;
}
.facebook:hover .social-menu__icon,
.facebook:focus .social-menu__icon {
    fill: $background-color;
}
.linkedin:hover .social-menu__icon,
.linkedin:focus .social-menu__icon {
    fill: $background-color;
}