$primary-text-color: #212121;
$title-text-color: #000000;
$accent-text-color: #2196F3;
$page-text-color: #757575;
$background-color: #FFFFFF;
$background-color-portfolio: #F5F4FA;
$background-color-main: #2F303A;
$border-portfolio-cards: #EEEEEE;
$border-portfolio-header: #ECECEC;
$color-icons-items: #AFB1B8;
$color-form-bcgbutton: #188CE8;

$transfill: fill;
$transcolor: color;
$transdur: 250ms;
$transtfunction: cubic-bezier(0.4, 0, 0.2, 1);